<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Biblioteca</title>
</head>
<body>
	
	 <nav th:fragment="menu" class="black">
	    <div class="nav-wrapper container">
	      <a href="/" class="brand-logo">Sistema de Livros</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down ">
	        <li><a href="/">home</a></li>
	        <li><a href="/bibli/form">Adicionar Livro</a></li>
	        <li><a href="/bibli/cadastro">Cadastro</a></li>
	        <li><a href="/bibli/listcad">Alunos Cadastrados</a></li>
	        <li><a href="/bibli/empres">Empréstimo</a></li>
	      </ul>
	    </div>
  	</nav>
<h1>deu certo</h1>
</body>
</html>