<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Empréstimo</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	
	<div class="container">
		
	<h1>Realizar Empréstimo:</h1>
		
	<form action="/empres" method="post">
			
		<div>
			<label for="busca">Nome do Livro:</label><input type="text" id="busca" name="nomeLiv"placeholder="Busque um Livro">
			<input type="submit" value="Buscar">
		</div>
		<div>
			<label>Seu Nome:</label><input type="text" name="nomeAlu">
		</div>
		<div>
			<label>Data de Empréstimo:</label><input type="text" name="datIni">
		</div>
		<div>
			<label>Data de Devolução:</label><input type="text" name="dataDev">
		</div>
		<div>
			<label>Matrícula:</label><input type="text" name="matricula">
		</div>
		<div>
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
			<button class="waves-effect waves-light btn" type="reset">Limpar</button>
		</div>
	</form>
	</div>	
</body>
</html>